.ui-autocomplete {
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    background-color: #ffffff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.ui-menu .ui-menu-item .ui-menu-item {
    display: block;
    padding: 3px 15px;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    color: #555555;
}

.ui-menu .ui-menu-item .ui-state-focus,
.ui-menu .ui-menu-item .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: coral;
    border-radius: 0px;
}
